@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

*{
border: 0;
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: inter;

}

.hero-section{
    height: 100vh;
    display: flex;
    width: 100%;
    position: relative;
}

/* img{
    width: 100%;
} */

.hero-section .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-image: url(assets/New\ Project\ 5.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}


.gd{
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    background: linear-gradient(to top, #000000 35%, #18181833 100%);
    background-size: cover;
    background-position: center;
}

.hero-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 15px 20px;
    position: absolute;
    z-index: 4;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100px;
}
header img{
    height: 50px;
}


header ul{
    display: flex;
    gap: 80px;
    list-style: none;
    align-items: center;
    display: none;
}



header li{
    font-size: 18px;
    font-weight: inter;
    color: #787878;
}

.menu .active{
    color: #FFFFFF;
    font-weight: 700;
}

.menu button{
    height: 48px;
    width: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    background: #FFFFFF;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.hero-body{
    display: flex;
    flex-direction: column;
    gap: 63px;
    width: 100%;
}

.hero-desc{
    display: flex;
    flex-direction: column;
    gap: 28px;  
}

.hero-desc h1{
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
}

.ebold{
    font-weight: 800;
    font-family: 'Lexend Deca';
}

.mbold{
    font-weight: 500;
    font-family: 'Lexend Deca';
}


.hero-desc p{
    font-size: 18px;
    color: #9A9A9A;
    width: 100%;
    text-align: center;
}


.hero-body button{
    display: flex;
    border: 2px solid #FFFFFF;
    padding: 22px 34px;
    align-self: center;
    background: transparent;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    height: 55px;
    justify-content: center;
  align-items: center;
}

.hero-caps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px 10px;
    justify-content: center;
}

.hero-caps > div{
    display: flex;
    flex-direction: column;
    padding: 0 13px;
    align-items: center;
}

.hero-caps .main{
    width: 100%;
}

.hero-caps h5{
    font-family: 'Lexend Deca';
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;

}

.hero-caps p,.p{
    font-weight: 400;
    color: #9A9A9A !important;
    font-size: 12px;
}

.lf{
    border-right: 1px solid #313131;
}

.trans-container{
    padding: 40px 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    gap: 132px;
}


.trans-container .image-con{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.trans-container .image-con img{
    width: 100%;
}

.trans-desc-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    
}

.trans-desc-container h1{
    font-weight: 300;
    font-size: 32px;
    color: #000000;
    text-align: center;
}

.rbold{
    color: #505050;
    font-weight: 400;
    font-family: 'Lexend Deca';
}

.mbold{
    font-weight: bold;
}


.trans-desc-container p{
    font-size: 18px;
    font-weight: 400;
    color: #787878;
    text-align: center;
}


.trans-desc-container  .btn-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    width: 205px;
    align-self: center;

}

button.main{
    width: 100%;
    height: 49px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
}

.mb{
    display: flex;
}

.dk{
    display: none !important;
}

button.link{
    width: 100%;
    height: 49px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: #0075E2;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    justify-content: center;
}


.simple-container{
    display: flex;
    flex-direction:column;
    gap: 82px;
    width: 100%;
    padding: 50px 20px;
    background: #F9F9F9;
    
}

.simple-desc-container{
    display: flex;
    flex-direction: column;
    gap: 44px;

}


.simple-header-desc{
    display: flex;
    flex-direction: column;
    gap: 26px;

}

p.title{
    border: 3px solid #0075E2;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 15px 32px;
    font-weight: 600;
    font-size: 16px;
    color: #0075E2;
align-self: self-start;
    border-radius: 30px;
}

.simple-header-desc h1{
    font-size: 55px;
    font-weight: 400;
    color: #505050;
}

.span-blue{
    color: #0075E2;
    font-weight: 600;
    font-family: 'Lexend Deca';

}


.simple-desc-container > p{
    font-size: 18px;
    font-weight: 400;
    color: #3C3C3C;
    margin-top: -20px;
}

.smbold{
    color: #000000;
    font-weight: 600;
    
}

.simple-desc-container  .btn-container{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

button.main2{
    width: 100%;
    height: 51px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
}

button.white{
    width: 100%;
    height: 51px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #FFFFFF;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    border: 3px solid #EEEEEE;
    outline: none;
    gap: 8px;
    justify-content: center;
}

.trust{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.trust p{
    font-size: 16px;
    font-weight: bold;
    color: #909090;
}

.trust .trust-container{
    display: flex;
    gap: 25px;
}

.trust-container img{
    width: 120px;
}

.simple-container .image-con img{
    width: 100%;
}


.shop-container{
    display: flex;
    flex-direction: column;
    gap: 63px;
    padding: 40px 20px;
}


.shop-container .header-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.shop-container .header-container h1{
    font-size: 30px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}


.shop-container .header-container p{
    font-size: 16px;
    color: #5F5F5F;
    font-weight: 400px;
    width: 100%;
    text-align: center;

}

button.blue{
    height: 51px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #0075E2;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
    gap: 7px;
    align-self: center;
}

.card-con{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.card-header{
    border-radius: 35px;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    min-height: 381px;
    width: 100%;
    align-items: center;
    padding: 20px 0px;
}


.card-header-desc{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 39px 30px;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    align-items: center;
}

.text-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 9px;
    align-items: center;
   
}

.text-header h4{
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.text-header p{
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    width: 100%;
    text-align: center;
    text-align: center;
}

 .btn-con1{
    display: flex;
    flex-direction: column;
    width: 216px;
    gap: 16px;
}
 .btn-con1 .price-label{
    background: #00000039;
    color: #000000;
    height: 48px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .btn-con1 button{
    width: 100%;
    height: 48px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
}

.card-header  .image-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}
.card-header .image-con img{
    width: 100%;
}
.card-row{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    width: 100%;
    display: none;
}

.card{
    padding: 57px 45px;
    border-radius: 35px;
    background: rgba(68, 208, 240, 0.117);
    display: flex;
    flex-direction: column;
    gap: 82px;
    justify-content: space-between;
    align-items: center;
}

.card-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.card-desc h1{
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}

.card-desc p{
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    text-align: center;
    width: 322px;
}


.card img{
    width: 223px;
    align-self: center;
}

.card-db{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    background: rgba(0, 117, 226, 0.052);
    padding: 35px 15px;
    gap: 54px;
}

.card-db button{
    font-size: 16px;
    font-weight: bold;
    color: #0075E2;
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    background: transparent;
    align-self: center;
}

.card-db .m-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}


.m-con img{
    width: 50%;
}



.eco-container{
    display: flex;
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 40px;
    /* gap: 100px; */
}



.eco-desc{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}

.eco-desc h1{
    font-size: 55px;
    color: #505050;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.span1{
    color: #000000;
    font-family: 'Lexend Deca';

}


.eco-desc button{
    display: flex;
    align-items: center;
    gap: 7px;
    color:#0075E2;
    background: transparent;
    letter-spacing: 3px;
    align-self: center;
}

.eco-image{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.eco-image img{
    width: 100%;
    scale: 1.3;
}



.eco-desc .blue{
    height: 48px;
    padding: 15px 48px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #0075E2;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
    gap: 7px;
    align-self: center;
    

}


.eco-desc p{
    font-size: 18px;
    font-weight: 400;
    color: #5F5F5F;
    width: 100%;
    text-align: center;
}



.prof-container{
    display: flex;
    padding: 0px 20px;
    align-items: center;
    /* gap: 100px; */
    justify-content: space-around;
    flex-direction: column-reverse;
}

.prof-desc{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
    padding-left: 0px;
}

.prof-desc h1{
    font-size: 55px;
    color: #505050;
    font-weight: 300;
    width: 100%;
    word-break: break-all;
}

.span2{
    color: #000000;
    font-family: 'Lexend Deca';
    font-weight: bold;
}


.prof-desc button{
    height: 51px;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
    align-self: center;
    margin-top: 30px;
}

.prof-image{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.prof-image img{
    width: 100%;
    scale: 1.1;
    margin-top: 40px;
}


.prof-desc p{
    font-size: 19px;
    font-weight: 400;
    color: #5F5F5F;
    width: 100%;
    text-align: center;
}


.how-container{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 50px;
}


.how-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.how-header h1{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.how-header p {
    font-size: 18px;
    font-weight: 500;
    color: #787878;
    width: 100%;
    text-align: center;
}

.how-header .btn-container{
    display: flex;
    flex-direction: row;
    gap: 18px;
    width: 100%;
}

.how-desc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-image{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.how-image img{
    width: 70%;
    align-self: center;
}

.how-cards{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 17px 23px;
}

.how-row{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.how-card{
    display: flex;
    padding:41px 29px;
    width: 100%;
    flex-direction: row;
    gap: 23px;
    background: #FFFFFF;
    border: 4px solid #EEEEEE;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
   
}

.how-card h1{
    font-size: 30px;
}

.how-card p{
    font-size: 12px;
}
.act{
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #30DCC7, #32009D) 30 round;
    border-image-slice: 2;
    border-radius: 20px;
}


.count-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 20px;
    margin: 40px 0px;
    gap: 91px;
    background: linear-gradient(to right, #30DCC7, #32009D);
}

.count-container div{
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.count-container div h1{
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
}

.count-container div p{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500 !important;
    text-align: center;
}

.who-container{
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding: 40px 20px;
}

.who-header{
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;
}

.who-header p{
    width: 100%;
    text-align: center;
    color: #787878;
    font-size: 18px;
}

.who-header h1{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.who-item{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
   
}

.who-row{
    display: flex;
    flex-direction: row;
    gap: 28px;
    overflow-x: scroll;
  
}


.who-card{
    display: flex;
    flex-direction: column;
    padding: 25px 21px;
    gap: 30px;
    border-radius: 9px;
    background: #F4F4F4;
    flex-shrink: 0;
    width: 100%;
}

.pagination-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.arrow{
    height: 51px;
    width: 51px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.pagination div.active{
    background: black;
}


.pagination div{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #F4F4F4;
}

.who-card img{
    width: 193px;
}


.who-card h1{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.who-card p{
    font-size: 16px;
    color: #787878;
    font-weight: 500;
}


.faq-container{
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding: 40px 0px;
}

.faq-header{
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
}

.faq-header svg{
    flex-shrink: 0;
}

.faq-header h1{
    font-size: 40px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

.faq-header p{
    font-size: 16px;
    font-weight: 400;
    color: #0075E2;
    display: flex;
    gap: 22px;
    align-items: center;
}


.faq-list{
    padding: 40px 13px;
    background: #F4F4F4;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 57px;
}


.faq{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 26px;
    border-bottom: 1px solid #DEDDDD;
}


.faq-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.faq-head p{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}


.get-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 52px;
    padding: 40px 20px;
}
.get-header h1{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.get-header p {
    font-size: 18px;
    font-weight: 500;
    color: #787878;
    width: 100%;
    text-align: center;
}

.get-header .btn-container{
    display: flex;
    flex-direction: row;
    gap: 18px;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: row;
    padding: 60px 20px;
    background: #000000;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 0;
    align-items: center;

}

.footer-1{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 40%;
}


.footer-1 img{
    width: 130px;
}

.footer-1 p{
    margin-top: 70px;
    font-size: 14px;
    color: #787878;
}

.footer-2{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 40%;
    align-items: self-start;
}

.footer-2 h1{
    font-size: 16px;
    font-weight: 600;
    color: #787878;
}


.footer-2 p{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}


.footer-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    gap: 25px;
    align-self: start;
}


.footer-3 .sub{
    display: flex;
    flex-direction: column;
    gap: 26px;

}

.footer-3 .sub p{
    font-size: 18px;
    font-weight: 600;
    color: #787878;
}

footer .sub input{
    height: 58px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.114);
    padding: 8px;
    font-size: 16px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
}
.ft21{
     width: 60%;
     flex-direction: column;
     gap: 20px;
}
footer .sub button{
    height: 58px;
    border-radius: 30px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: start;
    width: 100%;
}

.follow{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.follow p{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}


.follow div{
    display: flex;
    gap: 30px;
}


@media only screen and (min-width: 768px) {

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

*{
border: 0;
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: inter;

}

.hero-section{
    height: 100vh;
    display: flex;
    width: 100%;
    position: relative;
}

/* img{
    width: 100%;
} */

.hero-section .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-image: url(assets/New\ Project\ 4.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

}


.gd{
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    background: linear-gradient(to right, #000000 35%, #18181833 100%);
    background-size: cover;
    background-position: center;
}

.hero-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 40px 99px;
    position: absolute;
    z-index: 4;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100px;
}
header img{
    height: 105px;
}


header ul{
    display: flex;
    gap: 80px;
    list-style: none;
    align-items: center;
}



header li{
    font-size: 18px;
    font-weight: inter;
    color: #787878;
}

.menu .active{
    color: #FFFFFF;
    font-weight: 700;
}

.menu button{
    height: 48px;
    width: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    background: #FFFFFF;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.hero-body{
    display: flex;
    flex-direction: column;
    gap: 63px;
    width: 60%;
    align-items: flex-start;
}

.hero-desc{
    display: flex;
    flex-direction: column;
    gap: 28px;  
}

.hero-desc h1{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 300;
    text-align: left;
}

.ebold{
    font-weight: 800;
    font-family: 'Lexend Deca';
}

.mbold{
    font-weight: 500;
    font-family: 'Lexend Deca';
}


.hero-desc p{
    font-size: 30px;
    color: #9A9A9A;
    width: 593px;
    text-align: left;

}


.hero-body button{
    display: flex;
    border: 2px solid #FFFFFF;
    padding: 22px 54px;
    align-self: self-start;
    background: transparent;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    height: 69px;
}

.hero-caps{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 35px;
}

.hero-caps .main{
    width: initial;
}

.hero-caps > div{
    display: flex;
    flex-direction: column;
    padding: 0 13px;
}

.hero-caps h5{
    font-family: 'Lexend Deca';
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;

}

.hero-caps p,.p{
    font-weight: 400;
    color: #9A9A9A !important;
    font-size: 16px;
}

.lf{
    border-right: 1px solid #313131;
}

.trans-container{
    padding: 90px 99px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 132px;
}


.trans-container .image-con{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.trans-desc-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}

.trans-desc-container h1{
    font-weight: 300;
    font-size: 40px;
    color: #000000;
    text-align: left;

}

.rbold{
    color: #505050;
    font-weight: 400;
    font-family: 'Lexend Deca';
}

.mbold{
    font-weight: bold;
}


.trans-desc-container p{
    font-size: 30px;
    font-weight: 400;
    color: #787878;
    text-align: left;

}


.trans-desc-container  .btn-container{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;

}

button.main{
    width: 100%;
    height: 69px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
}

button.link{
    width: 100%;
    height: 69px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: #0075E2;
    font-weight: bold;
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
    justify-content: center;
}


.simple-container{
    display: flex;
    flex-direction: row;
    gap: 132px;
    width: 100%;
    padding: 90px 99px;
    background: #F9F9F9;
    
}

.simple-desc-container{
    display: flex;
    flex-direction: column;
    gap: 83px;

}


.simple-header-desc{
    display: flex;
    flex-direction: column;
    gap: 36px;

}

p.title{
    border: 3px solid #0075E2;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 15px 42px;
    font-weight: 600;
    font-size: 20px;
    color: #0075E2;
align-self: self-start;
    border-radius: 30px;
}

.simple-header-desc h1{
    font-size: 70px;
    font-weight: 400;
    color: #505050;
    text-align: left;

}

.span-blue{
    color: #0075E2;
    font-weight: 600;
    font-family: 'Lexend Deca';

}


.simple-desc-container > p{
    font-size: 30px;
    font-weight: 400;
    color: #3C3C3C;
    margin-top: -20px;
}

.smbold{
    color: #000000;
    font-weight: 600;
    
}

.simple-desc-container  .btn-container{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

button.main2{
    width: 100%;
    height: 59px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
}

button.white{
    width: 100%;
    height: 59px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #FFFFFF;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    border: 3px solid #EEEEEE;
    outline: none;
    gap: 8px;
    justify-content: center;
}

.trust{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.trust p{
    font-size: 16px;
    font-weight: bold;
    color: #909090;
}

.simple-container .image-con{
    width: 100%;
}

.trust .trust-container{
    display: flex;
    gap: 25px;
}

.shop-container{
    display: flex;
    flex-direction: column;
    gap: 63px;
    padding: 90px 99px;
}


.shop-container .header-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    
}

.shop-container .header-container h1{
    font-size: 60px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}


.shop-container .header-container p{
    font-size: 30px;
    color: #5F5F5F;
    font-weight: 400px;
    width: 898px;
    text-align: center;

}

button.blue{
    height: 59px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #0075E2;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
    gap: 7px;
    align-self: center;
}

.shop-container  .image-con img{
    width: initial;
    padding-bottom: 0;
}


.card-con{
    display: flex;
    flex-direction: column;
    gap: 30px;
    

}

.card-header{
    border-radius: 35px;
    background: #F0F0F0;
    display: flex;
    flex-direction: row;
    height: 381px;
    width: 100%;
    padding: 0px;
    align-items: end;
}

.card-header-desc{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 59px 64px;
    justify-content: space-between;
    width: 45%;
    align-items: start;
    
}

.text-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 9px;
    align-items: start;

}

.text-header h4{
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    text-align: left;
}

.text-header p{
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    width: 373px;
    text-align: left;

}

 .btn-con1{
    display: flex;
    flex-direction: column;
    width: 216px;
    gap: 16px;
}
 .btn-con1 .price-label{
    background: #00000039;
    color: #000000;
    height: 48px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .btn-con1 button{
    width: 100%;
    height: 48px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
}

.card-header  .image-con{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 55%;
}

.card-row{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    width: 100%;
}

.card{
    padding: 57px 45px;
    border-radius: 35px;
    background: rgba(68, 208, 240, 0.117);
    display: flex;
    flex-direction: column;
    gap: 82px;
    justify-content: space-between;
    align-items: center;
}

.card-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.card-desc h1{
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}

.card-desc p{
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    text-align: center;
    width: 322px;
    
}


.card img{
    width: 223px;
    align-self: center;
}

.eco-container{
    display: flex;
    padding: 0px 99px;
    align-items: center;
    flex-direction: row;
    /* gap: 100px; */
}

.eco-desc{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}

.eco-desc h1{
    font-size: 70px;
    color: #505050;
    font-weight: 300;
    width: 443px;
    text-align: left;

}

.span1{
    color: #000000;
    font-family: 'Lexend Deca';

}


.eco-desc button{
    display: flex;
    align-items: center;
    gap: 7px;
    color:#0075E2;
    background: transparent;
    align-self: start;
    letter-spacing: 3px;
}

.eco-image{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.eco-image img{
    width: 100%;
    scale: 1.1;
}



.eco-desc .blue{
    height: 54px;
    padding: 15px 48px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #0075E2;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
    gap: 7px;
    align-self: self-start;
    

}


.eco-desc p{
    font-size: 30px;
    font-weight: 400;
    color: #5F5F5F;
    width: 553px;
    text-align: left;

}



.prof-container{
    display: flex;
    padding: 0px 99px;
    align-items: center;
    /* gap: 100px; */
    justify-content: space-around;
    flex-direction: row;
}

.prof-desc{
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
    padding-left: 100px;
}

.prof-desc h1{
    font-size: 70px;
    color: #505050;
    font-weight: 300;
    width: 494px;
    text-align: left;

}

.span2{
    color: #000000;
    font-family: 'Lexend Deca';
    font-weight: bold;
}


.prof-desc button{
    height: 59px;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    gap: 8px;
    justify-content: center;
    align-self: start;
    margin-top: 30px;
}

.prof-image{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.prof-image img{
    width: 80%;
}


.prof-desc p{
    font-size: 30px;
    font-weight: 400;
    color: #5F5F5F;
    width: 553px;
    text-align: left;

}


.how-container{
    display: flex;
    flex-direction: column;
    padding: 90px 99px;
    gap: 89px;
}


.how-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
.how-header h1{
    font-size: 70px;
    font-weight: 400;
}
.how-header p {
    font-size: 30px;
    font-weight: 500;
    color: #787878;
    width: 726px;
    text-align: center;
}

.how-header .btn-container{
    display: flex;
    flex-direction: row;
    gap: 22px;
    width: 550px;
}

.how-desc-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.how-image{
    width: 100%;
}

.how-image img{
    width: 100%;
}

.how-cards{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 17px 23px;

}

.how-row{
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.how-card{
    display: flex;
    padding: 34px 37px;
    width: 347px;
    flex-direction: column;
    gap: 23px;
    background: #FFFFFF;
    border: 4px solid #EEEEEE;
    border-radius: 20px;
    overflow: hidden;
}
.act{
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #30DCC7, #32009D) 30 round;
    border-image-slice: 2;
    border-radius: 20px;

}

.how-card h1{
    font-size: 60px;
}

.how-card p{
    font-size: 16px;
}


.count-container{
    display: flex;
    justify-content: space-between;
    padding: 60px 99px;
    margin: 90px 0px;
    gap: 91px;
    background: linear-gradient(to right, #30DCC7, #32009D);
    flex-direction: row;
}

.count-container div{
    width:417px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.count-container div h1{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
}

.count-container div p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600 !important;
    text-align: center;
}

.who-container{
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding: 90px 99px;
}

.who-header{
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;
}

.who-header p{
    width: 831px;
    text-align: center;
    color: #787878;
    font-size: 30px;
}

.who-header h1{
    font-size: 70px;
    font-weight: 400;
}

.who-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.who-row{
    display: flex;
    flex-direction: row;
    gap: 28px;
}


.who-card{
    display: flex;
    flex-direction: column;
    padding: 46px 40px;
    gap: 30px;
    border-radius: 9px;
    background: #F4F4F4;
    flex-shrink: 1;
}

.pagination-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.arrow{
    height: 51px;
    width: 51px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.pagination div.active{
    background: black;
}


.pagination div{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #F4F4F4;
}

.who-card img{
    width: 193px;
}


.who-card h1{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.who-card p{
    font-size: 16px;
    color: #787878;
    font-weight: 500;
}


.faq-container{
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding: 80px 99px;
}

.faq-header{
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
}


.faq-header h1{
    font-size: 50px;
    font-weight: 500;
    color: #000000;
}

.faq-header p{
    font-size: 30px;
    font-weight: 400;
    color: #0075E2;
    display: flex;
    gap: 22px;
    align-items: center;
}


.faq-list{
    padding: 86px 81px;
    background: #F4F4F4;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 57px;
}


.faq{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DEDDDD;
}


.faq-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.faq-head p{
    font-size: 25px;
    font-weight: 500;
    color: #000000;
}


.get-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 52px;
    padding: 90px 99px;
}
.get-header h1{
    font-size: 70px;
    font-weight: 400;
}
.get-header p {
    font-size: 30px;
    font-weight: 500;
    color: #787878;
    width: 726px;
    text-align: center;
}

.get-header .btn-container{
    display: flex;
    flex-direction: row;
    gap: 22px;
    width: 550px;
}

footer{
    display: flex;
    flex-direction: row;
    padding: 90px 99px;
    background: #000000;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: start;
}

.footer-1{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: initial;
}


.footer-1 img{
    width: 130px;
}

.footer-1 p{
    margin-top: 70px;
    font-size: 18px;
    color: #787878;
}

.footer-2{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: initial;
}

.footer-2 h1{
    font-size: 18px;
    font-weight: 600;
    color: #787878;
}


.footer-2 p{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}


.footer-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: initial;
}


.footer-3 .sub{
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 406px;
    align-items: flex-start;
}

.footer-3 .sub p{
    font-size: 18px;
    font-weight: 600;
    color: #787878;
}

.footer-3 .sub input{
    height: 43px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.114);
    padding: 8px;
    font-size: 14px;
    width: 406px;
    color: #FFFFFF;
    text-align: left;
}

.footer-3 .sub button{
    height: 39px;
    border-radius: 30px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: start;
    width: 105px;
}

.follow{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.follow p{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}


.follow div{
    display: flex;
    gap: 8px;
}


.mb{
    display: none !important;
}

.dk{
    display: flex !important;
}


}    








